.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  background-color: black;
}

.neonLogo {
  color: #cc910a;
  filter: drop-shadow(0px 0px 14px #ecaa15);
}

.navLink {
  opacity: 0.6;
  font-size: 18px;
  font-weight: 400;
  transition: opacity, text-shadow .2s ease-in-out;
  margin-left: 14px;
  margin-right: 14px;
}

.navLink:hover {
  opacity: 1;

  text-shadow:
          0 0 21px #fff,
          0 0 42px #fff,
          0 0 82px #fff,
          0 0 92px #fff;
}


@media only screen and (max-width: 600px) {
  .title {
    font-size: 32px;
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 601px) {
  .title {
    font-size: 42px;
    margin-bottom: 6px;
  }
}